@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.author {
  border-top: 1px solid $color-gray-border;
  max-width: $layout-post-width;
  font-size: $typographic-small-font-size;
  color: $color-base;
  @include line-height(1);
  @include margin-bottom(1);
  @include margin-top(1);

  &__bio {
    &-twitter {
      display: block;
      text-decoration: underline;
      margin-bottom: 1rem;
    }
    &-telegram {
      display: block;
      text-decoration: underline;
      margin-bottom: 1rem;
    }
  }
}

@include breakpoint-sm {
  .author {
    margin-left: auto;
    margin-right: auto;
  }

}